// navbar.scss

.marquee-container {
    overflow: hidden;
  }
  
  .marquee-content {
    animation: marquee 17s linear infinite;
    white-space: nowrap;
    animation-delay: 0ms;
  }
  
  .marquee-content span {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  